.is-fullheight{
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.absolutelyOneThird{
    position: absolute;
    left: 50%;
    top: 33%;
    transform: translate(-50%, -50%);
}

.ml-50{
    margin-left: 50px;
}

.mr-50{
    margin-right: 50px;
}